<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/AboutMe.css">

    <!-- Font Awesome icons -->
    <script src="https://kit.fontawesome.com/ac7cbd71ce.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>About Me</title>
  </head>
  <body>
    <section id="header">
      <div id="header-div">
        <h1 id="about-me">ABOUT ME!</h1>
      </div>
    </section>
    <section id="who-am-i">
      <div class="row">
        <div class="col-lg-6 col-md-6" id="intro-img-section">
          <img src="images/image1.png" id="img1" alt="">
          <h2>Vidushi Rastogi</h2>
          <h5>Web and Graphic Designer</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" id="intro-para">

          <h1>Who Am I?</h1>

          <p>Holla Everyone! I am Vidushi, a <span><em>Web and Graphic Designer</em></span>.
          Currently an undergraduate of <span>B.Sc(Hons) Computer Science from Dyal Singh College, Delhi University</span>.
          I'm a fresher speacialising in front end <span>Web developent and Graphic designing</span>.
          I've got knowlegde in programming languages like - <span>Python, c++, JavaScript</span> as well. <br>

          My hobbies are digital designing(obviously), drawing abstract art,
          solving algorithms and then code them.
          I'm an A-grade Otaku, obsessed with Anime and Mangas.
          And a Marvel and DC Universe fan. <br>

          I'm a creative person, I tend to create design as eye pleasing and subtle as possible.
          </p>

        </div>

      </div>

    </section>

    <section id="skills">


      <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1>My Skills</h1>
          <div class="row" style="margin-top: 20px; width: 80%;">
            <div class="col-12">
              <h3>Graphic Tools</h3>

              <ul class="list-group">

                <li class="list-class-group">Adobe Illustrator</li>
                <li class="list-class-group">Adobe Photoshop</li>
              </ul>
            </div>
            <div class="col-12">
              <h3>Web Design</h3>

              <ul class="list-group">

                <li class="list-class-group">HTML5</li>
                <li class="list-class-group">CSS3</li>
                <li class="list-class-group">Bootstrap 4</li>
              </ul>
            </div>
            <div class="col-12">
              <h3>Languages</h3>

              <ul class="list-group">

                <li class="list-class-group">Python</li>
                <li class="list-class-group">C++</li>
                <li class="list-class-group">JavaScript</li>
                <li class="list-class-group">SQL</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-6" id="skills-section-img">
          <img src="images/image2.png" alt="" id="img2">
        </div>
      </div>

    </section>

    <section id="links">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.facebook.com/vidushi.rastogi.353"><i class="fab fa-facebook-square fa-3x"></i></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.instagram.com/viiichaan/"><i class="fab fa-instagram-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.linkedin.com/in/vidushi-rastogi-825951188?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BVD%2B9ELKFQXi3vqutcxaugg%3D%3D"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://github.com/Ackermann99"><i class="fab fa-github-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.behance.net/illustrateVidushi"><i class="fab fa-behance-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="mailto:vidu1998rastogi@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>

        </div>
      </div>






    </section>
    <script src="js/JSjquery.min.js" charset="utf-8"></script>
    <script src="js/AboutMe.js" charset="utf-8"></script>
  </body>
</html>
