<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/AboutMe.css">

    <!-- Font Awesome icons -->
    <script src="https://kit.fontawesome.com/ac7cbd71ce.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>About Me</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8G660FD2XX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8G660FD2XX');
    </script>
  </head>
  <body>
    <section id="header">
      <div id="header-div">
        <h1 id="about-me">ABOUT ME!</h1>
      </div>
    </section>
    <section id="who-am-i">
      <div class="row">
        <div class="col-lg-6 col-md-6" id="intro-img-section">
          <img src="images/image1.png" id="img1" alt="">
          <h2>Vidushi Rastogi</h2>
          <h5>Web Developer</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" id="intro-para">

          <h1>Who Am I?</h1>

          <p>Holla Everyone! I am Vidushi, a fresher in<span><em> Web Developent</em></span>.
          Currently an undergraduate of <span>B.Sc(Hons) Computer Science from Dyal Singh College, Delhi University</span>.
          I'm a MERN Developer, having basic knowlegde of back end development and a good hands on experience in front end development.
          I've got knowlegde in programming languages like - <span>Python, c++, JavaScript</span> as well. <br>

          My hobbies are digital designing(obviously), drawing abstract art,
          solving algorithms and then code them.
          I'm an A-grade Otaku, obsessed with Anime and Mangas.
          And a Marvel and DC Universe fan. <br>

          I'm a creative person, I tend to create design as eye pleasing and subtle as possible.
          </p>

        </div>

      </div>

    </section>

    <section id="skills">


      <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1>My Skills</h1>
          <div class="row" style="margin-top: 20px; width: 80%;">
            <div class="col-12">
              <h3>Graphic Tools</h3>

              <ul class="list-group">

                <li class="list-class-group">Adobe Illustrator</li>
                <li class="list-class-group">Adobe Photoshop</li>
              </ul>
            </div>
            <div class="col-12">
              <h3>Web Design</h3>

              <ul class="list-group">

                <li class="list-class-group">HTML5</li>
                <li class="list-class-group">CSS3</li>
                <li class="list-class-group">Bootstrap 4</li>
              </ul>
            </div>
            <div class="col-12">
              <h3>Languages</h3>

              <ul class="list-group">

                <li class="list-class-group">Python</li>
                <li class="list-class-group">C++</li>
                <li class="list-class-group">JavaScript</li>
                <li class="list-class-group">SQL</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-6" id="skills-section-img">
          <img src="images/image2.png" alt="" id="img2">
        </div>
      </div>

    </section>

    <section id="links">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.facebook.com/vidushi.rastogi.353"><i class="fab fa-facebook-square fa-3x"></i></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.instagram.com/viiichaan/"><i class="fab fa-instagram-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.linkedin.com/in/vidushi-rastogi-825951188?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BVD%2B9ELKFQXi3vqutcxaugg%3D%3D"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://github.com/Ackermann99"><i class="fab fa-github-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="https://www.behance.net/illustrateVidushi"><i class="fab fa-behance-square fa-3x"></i></a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 icons">
          <a href="mailto:vidu1998rastogi@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>

        </div>
      </div>

    <div class="justify-content-center mt-5">
      <button type="button" name="button" class="btn btn-outline-light btn-lg" id="review-btn" onClick="document.getElementById('reviewForm').scrollIntoView();">Review Form</button>
    </div>
    </section>

    <section id="reviewForm" class="container">
      <div class="row justify-content-center">

        <div class="col-md-6">
          <div class="card p-3 mb-5 bg-white">
            <div class="card-body">
              <div>
                <h4 class="card-title">Provide Your Review Here!</h4>
              </div>
              <form action="/aboutme/reviewForm" method="post">

                <div class="form-group">
                  <label>Your Name</label>
                  <input type="text" class="form-control" name="name">
                  <p class="error"></p>
                </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                    <p class="error"></p>
                  </div>

                  <label>How's VSpace as a website?</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="options" value="average">
                    <label class="form-check-label">Average</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="options" value="above average">
                    <label class="form-check-label">Above Average</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="options" value="good">
                    <label class="form-check-label">Good</label>
                  </div>

                  <div class="form-group mt-2">
                    <label>Tell us what you think about VSpace!</label>
                    <textarea class="form-control" name="review" rows="3"></textarea>
                    <p class="error"></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary" name="submit" id="submit">Submit Review</button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-outline-dark float-right" name="submit" id="hide-form">Hide</button>
                    </div>
                  </div>

                  <button type="submit" name="submit" id="submit1" style="display: none;"></button>
              </form>

            </div>

          </div>
        </div>

      </div>



    </section>
    <script src="js/JSjquery.min.js" charset="utf-8"></script>
    <!-- <script src="js/AboutMe.js" charset="utf-8"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>

      $("#reviewForm").hide();

      $("#review-btn").click(function(){
        $("#reviewForm").slideDown();
        $("#review-btn").hide();
      });

      $("#hide-form").click(function(){
        $("#reviewForm").slideUp();
        $("#review-btn").show();
      })

      $("#submit").click(function () {
        // alert("blah");

        var name = $("input[name='name']").val();
        var email = $("input[name='email']").val();
        var review = $("textarea[name='review']").val();

        if(name !="" && email != "" && review != "") {
          Swal.fire("Your review is submitted!");

          setTimeout(function(){ $("#submit1").click(); }, 3000);

        }
        else {
          if( name == "")
            $(".error:eq(0)").html("Please enter your name");

          if( email == "")
            $(".error:eq(1)").html("Please enter your Email ID");

          if( review == "")
            $(".error:eq(2)").html("Please provide your review");
        }


});

    </script>
  </body>
</html>
