<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome icons -->
  <script src="https://kit.fontawesome.com/ac7cbd71ce.js" crossorigin="anonymous"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Bootstrap scripts -->
  <script src="js/jquery.min.js" charset="utf-8"></script>
  <script src="js/bootstrap.min.js" charset="utf-8"></script>
  <title>VSpace</title>
</head>

<body>

  <section id="main-page">


    <div id="main-background-image-div">
      <img id="main-background-image" src="images/mainBackground.png" alt="background-image">
    </div>


    <!-- Nav Bar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a id="brand-name" class="navbar-brand" href="#"><img id="logo" src="images/VSlogo.png" alt="VSpace logo"><span style="color: rgb(53, 0, 112);">VS</span>pace</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#spacetune">SpaceTune</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#planets">Planets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#spacegame">SpaceGame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">Contact</a>
          </li>
        </ul>

      </div>
    </nav>


    <!-- Title -->
    <div class="row container-fluid" id="mainpage-content">
      <div class="col-lg-6" id="main-text-container">
        <h1 id="main-header-text">Welcome to VSpace Folks.</h1>
        <div id="sub-text">
          <p>Explore the Space.<br>And experience exciting stuff!</p>
        </div>

      </div>
      <div class="col-lg-6">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="astronautBody" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        	 y="0px" width="1200px" height="640px" viewBox="0 0 1200 640" enable-background="new 0 0 1200 640" xml:space="preserve">
        <g>
        	<g>
        		<g>
        			<path fill="#EBEBEC" d="M600.573,147.021c-1.983-2.161-4.049-3.644-6.114-4.61c-2.866,1.904-5.524,4.466-7.351,6.64
        				c-3.326,3.955-6.115,8.96-5.743,14.166c15.855,22.145,43.257,37.762,43.257,37.762l15.34-26.329
        				C627.658,169.032,609.35,156.572,600.573,147.021z"/>
        			<path fill="#D9D9DB" d="M600.573,147.021c-1.983-2.161-4.049-3.644-6.114-4.61c-2.866,1.904-5.524,4.466-7.351,6.64
        				c-2.967,3.524-5.495,7.881-5.754,12.475c0.849,2.022,2.155,3.846,3.96,5.146c3.511,2.535,6.929,2.239,11,2.4
        				c4.997,0.195,18.664,12.798,19.078,17.516c0.307,3.506,0.825,6.617,1.687,9.621c4.558,3.066,7.543,4.771,7.543,4.771
        				l15.34-26.329C627.658,169.032,609.35,156.572,600.573,147.021z"/>
        			<path fill="#D9D9DB" d="M598.715,167.687c5.313-2.259,10.541-6.263,11.428-11.949c-3.724-2.99-7.05-5.975-9.569-8.717
        				c-1.983-2.161-4.049-3.644-6.114-4.61c-2.866,1.904-5.524,4.466-7.351,6.64c-2.967,3.524-5.495,7.881-5.754,12.475
        				c0.769,1.826,1.934,3.47,3.476,4.734C588.831,168.891,594.779,169.363,598.715,167.687z"/>
        			<path fill="#818386" d="M616.074,160.268c0.51,0.372,1.021,0.739,1.54,1.107c-2.621,9.175-7.76,17.71-14.346,24.561
        				c-0.89-0.73-1.785-1.486-2.688-2.261C607.689,177.632,613.148,169.162,616.074,160.268z"/>
        			<path fill="#EBEBEC" d="M652.205,204.174c0,0-15.983,4.676-28.396,1.439s-4.858-44.793,7.77-38.963
        				C644.206,172.477,655.768,203.299,652.205,204.174z"/>
        			<path fill="#EBEBEC" d="M633.19,205.449c0,0-9.519,1.909-13.054-4.899c-3.537-6.811-0.916-18.394,1.307-24.801
        				c0,0-3.797,14.842-0.602,21.736C624.037,204.38,633.19,205.449,633.19,205.449z"/>
        		</g>
        		<g>
        			<path fill="#EBEBEC" d="M742.892,182.681c0,0,19.891,30.438,21.897,59.298c0,0,0.774,12.174-5.324,12.902
        				c-6.098,0.733-16.474-1.047-19.824-13.215c-3.442-12.505-14.038-31.952-22.418-42.568L742.892,182.681z"/>
        			<path fill="#818386" d="M750.129,232.569c3.751-0.162,7.153,0.987,10.149,3.261c1.293,0.979,3.051,2.578,4.361,4.369
        				c0.057,0.595,0.108,1.188,0.149,1.78c0,0,0.774,12.174-5.324,12.902c-6.098,0.733-16.474-1.047-19.824-13.215
        				c-0.308-1.121-0.675-2.297-1.088-3.513C741.591,234.947,745.747,232.756,750.129,232.569z"/>
        			<path fill="#D9D9DB" d="M748.112,216.387c-1.293-3.477-3.002-6.727-4.828-9.913c2.329-4.254,4.082-8.767,5.613-13.382
        				c5.444,10.27,12.956,26.81,15.316,43.486c-3.915-2.401-8.133-3.987-12.54-5.334C751.065,226.175,749.888,221.162,748.112,216.387
        				z"/>
        			<path fill="#818386" d="M731.903,222.799c-0.287-0.563-0.569-1.124-0.862-1.687c6.524-6.968,14.993-12.212,23.983-15.298
        				c0.454,1.057,0.908,2.14,1.354,3.237C747.297,211.182,738.566,216.226,731.903,222.799z"/>
        			<path opacity="0.8" fill="#D9D9DB" d="M742.892,182.681c0,0,1.752,2.684,4.27,7.206c-0.558,4.998-2.081,9.873-4.724,14.16
        				c-1.56,2.532-3.926,5.519-4.243,8.581c-0.303,2.887,9.374,23.712,9.785,32.272c0.123,2.641,0.128,5.306,0.066,7.959
        				c-3.587-1.924-6.799-5.367-8.405-11.193c-3.442-12.505-14.038-31.952-22.418-42.568L742.892,182.681z"/>
        			<path fill="#D9D9DB" d="M760.871,274.836c-1.942-2.244-4.564-4.156-7.404-5.08c-3.015-0.984-6.614-1.789-9.726-0.658
        				c-1.488,0.539-2.663,1.582-3.847,2.594c-0.644-10.178-0.104-28.47-0.104-28.47s3.759-10.362,14.265-7.143
        				c0,0,9.477,1.826,10.529,10.985c0.718,6.225-0.344,19.692-2.833,28.856C761.456,275.529,761.15,275.164,760.871,274.836z"/>
        			<path fill="#D9D9DB" d="M760.871,274.836c-1.942-2.244-4.564-4.156-7.404-5.08c-3.015-0.984-6.614-1.789-9.726-0.658
        				c-1.488,0.539-2.663,1.582-3.847,2.594c-0.644-10.178-0.104-28.47-0.104-28.47s3.759-10.362,14.265-7.143
        				c0,0,9.477,1.826,10.529,10.985c0.718,6.225-0.344,19.692-2.833,28.856C761.456,275.529,761.15,275.164,760.871,274.836z"/>
        			<path fill="#D9D9DB" d="M739.79,243.221c0,0,2.35-6.453,8.502-7.59c-0.205,0.154-0.4,0.316-0.595,0.496
        				c-2.691,2.498-3.854,5.49-3.88,9.112c-0.046,5.755-0.144,21.729-0.349,23.971c-1.365,0.561-2.468,1.533-3.574,2.48
        				C739.251,261.513,739.79,243.221,739.79,243.221z"/>
        			<path fill="#EBEBEC" d="M753.467,269.756c-0.849-0.275-1.747-0.537-2.665-0.748l-0.262-29.784c0,0,1.56-1.81,6.64,0.069
        				c0,0,6.485,2.178,6.889,11.06c0.323,7.182-1.622,18.219-3.323,24.35C758.816,272.518,756.251,270.662,753.467,269.756z"/>
        			<path fill="#EBEBEC" d="M739.847,270.875c4.112-2.531,7.05-4.91,12.915-2.385c2.775,1.191,5.472,2.889,7.728,4.902
        				c2.725,2.432,3.689,5.615,4.73,9.002c1.126,3.684,2.068,7.57,1.616,11.447c-0.264,2.289-1.026,4.496-2.006,6.574
        				c-0.642,1.359-1.645,4.176-3.448,4.324c-0.821,0.072-1.272-0.467-1.498-1.203c-0.339,0.523-0.693,1.023-1.067,1.48
        				c-1.152,1.414-2.769,1.842-4.172,0.586c-0.339-0.307-0.533-0.676-0.621-1.084c-0.462,0.482-0.949,0.889-1.446,1.156
        				c-2.325,1.236-3.721-0.047-3.341-2.469c0.416-2.652,1.58-4.705,2.729-7.063c0.547-1.111,0.757-2.295,0.79-3.502
        				c-0.082,0.225-0.166,0.451-0.251,0.672c-1.288,3.307-3.787,8.271-7.481,9.168c-3.525,0.857-3.138-3.887-2.389-5.762
        				c1.014-2.537,2.737-4.773,3.852-7.283c0.88-1.984,1.768-4.27,1.61-6.477c-0.112-1.59-1.39-5.375-3.466-3.061
        				c-0.654,0.727-0.965,1.789-1.145,2.723c-0.41,2.111,0.873,8.492-2.224,9.117c-1.581,0.322-2.794-1.449-3.382-2.664
        				c-1.714-3.574-1.503-8.08-0.713-11.871C737.568,275.268,738.918,272.723,739.847,270.875z"/>
        			<path opacity="0.7" fill="#EBEBEC" d="M759.332,280.379c-2.045-1.193-4.202-2.207-6.509-2.74
        				c-0.067-1.521-0.38-3.131-0.519-4.357c-0.2-1.697-0.667-3.305-1.354-4.828c0.492,0.152,1,0.328,1.534,0.559
        				c2.781,1.193,5.475,2.891,7.732,4.904c2.725,2.434,3.689,5.617,4.726,9.002c0.244,0.793,0.475,1.598,0.69,2.406
        				C763.745,283.287,761.371,281.564,759.332,280.379z"/>
        			<path fill="#EBEBEC" d="M719.819,167.241c0,0,16.351,3.138,25.915,11.687c9.567,8.549-16.133,42.07-24.704,31.115
        				C712.456,199.092,716.248,166.392,719.819,167.241z"/>
        			<path fill="#D9D9DB" d="M728.871,211.438c0.53-1.67,0.934-3.316,1.277-4.569c1.244-4.535,2.237-9.046,2.529-13.762
        				c0.482-7.781,0.801-15.747-2.52-22.882c-5.746-2.102-10.339-2.984-10.339-2.984c-3.571-0.849-7.363,31.852,1.211,42.802
        				C722.97,212.518,725.787,212.708,728.871,211.438z"/>
        			<path fill="#EBEBEC" d="M737.314,174.792c0,0,9.336,2.646,9.372,10.321c0.038,7.671-7.587,16.779-12.487,21.467
        				c0,0,10.154-11.471,10.46-19.065C744.967,179.92,737.314,174.792,737.314,174.792z"/>
        			<path fill="#B1B2B4" d="M754.06,282.141c-0.003-0.105,0.164-0.008,0.169,0.066c0.277,4.648-0.21,9.105-2.622,13.186
        				c-0.015,0.023-0.063-0.021-0.054-0.041C753.336,291.256,754.08,286.566,754.06,282.141z"/>
        			<path fill="#B1B2B4" d="M753.5,304.678c4.585-5.766,6.953-13.316,5.854-20.68c-0.005-0.053,0.083-0.002,0.093,0.029
        				c1.889,6.543-0.577,16.258-5.747,20.828C753.613,304.932,753.429,304.77,753.5,304.678z"/>
        			<path fill="#EBEBEC" d="M737.168,277.205c0.4-1.938,1.75-4.482,2.679-6.33c4.112-2.531,7.05-4.91,12.915-2.385
        				c0.018,0.004,0.035,0.014,0.056,0.021c-3.466-0.721-8.276-1.537-9.138,2.486c-0.313,1.479-0.057,5,1.939,5.332
        				c4.218,0.707,4.956,7.078,3.627,10.518c-1.046,2.713-1.539,3.949-2.529,7.775c-0.421,1.621,1.108,3.146,2.743,1.988
        				c1.88-1.332,2.804-3.615,3.517-5.74c0.816-2.432,1.114-5.246,1.293-7.801c0.744,3.316,0.439,7.195-0.546,10.408
        				c-0.465,1.523-1.958,5.051-0.547,6.49c1.747,1.785,3.997-1.629,4.562-2.895c1.493-3.299,1.704-6.588,1.857-10.025
        				c0.724,3.496,0.591,7.053-0.877,10.531c-0.241,0.578-2.273,4.852-0.057,4.717c2.406-0.15,3.981-4.273,4.634-6.166
        				c0.883-2.586,1.268-5.229,1.391-7.914c0.462,2.906,0.297,5.918-0.55,8.75c-0.495,1.652-1.76,3.445-1.585,5.217
        				c0.064,0.631,0.467,0.883,0.941,0.924c-0.549,0.855-1.234,1.559-2.111,1.633c-0.821,0.072-1.272-0.467-1.498-1.203
        				c-0.339,0.523-0.693,1.023-1.067,1.48c-1.152,1.414-2.769,1.842-4.172,0.586c-0.339-0.307-0.533-0.676-0.621-1.084
        				c-0.462,0.482-0.949,0.889-1.446,1.156c-2.325,1.236-3.721-0.047-3.341-2.469c0.416-2.652,1.58-4.705,2.729-7.063
        				c0.547-1.111,0.757-2.295,0.79-3.502c-0.082,0.225-0.166,0.451-0.251,0.672c-1.288,3.307-3.787,8.271-7.481,9.168
        				c-3.525,0.857-3.138-3.887-2.389-5.762c1.014-2.537,2.737-4.773,3.852-7.283c0.88-1.984,1.768-4.27,1.61-6.477
        				c-0.112-1.59-1.39-5.375-3.466-3.061c-0.654,0.727-0.965,1.789-1.145,2.723c-0.41,2.111,0.873,8.492-2.224,9.117
        				c-1.581,0.322-2.794-1.449-3.382-2.664C736.167,285.502,736.378,280.996,737.168,277.205z"/>
        			<path fill="#B1B2B4" d="M763.211,296.393c0.741-2.217,1.214-4.645,1.378-7.061c-0.028,1.693-0.265,3.406-0.446,4.842
        				c-0.057,0.408-0.115,0.805-0.18,1.203c-0.9,2.99-2.345,5.816-4.188,8.254c-0.03,0.043-0.123-0.037-0.107-0.082
        				C760.786,301.098,762.331,299.012,763.211,296.393z"/>
        			<path fill="#EBEBEC" d="M632.841,250.235c0,0-3.858,4.703-3.94,12.564c-0.082,7.857,40.385,23.863,50.859,26.277
        				c10.48,2.414,47.833-17.377,47.767-25.539c-0.066-8.164-1.198-11.622-6.132-11.934
        				C716.464,251.292,632.841,250.235,632.841,250.235z"/>
        			<path fill="#EBEBEC" d="M636.587,267.332c-0.555-5.734-0.19-11.371,0.015-17.048c-2.391-0.03-3.761-0.049-3.761-0.049
        				s-3.858,4.703-3.94,12.564c-0.026,2.227,3.217,5.115,8.112,8.16C636.838,269.744,636.699,268.531,636.587,267.332z"/>
        			<path fill="#EBEBEC" d="M721.395,251.603c-0.511-0.031-1.878-0.072-3.899-0.118c0.01,0.11,0.025,0.218,0.036,0.328
        				c0.292,3.297,0.487,6.65,0.349,9.96c-0.185,4.372-0.77,8.708-1.142,13.061c6.313-4.223,10.809-8.461,10.788-11.297
        				C727.46,255.374,726.328,251.916,721.395,251.603z"/>
        			<path fill="#D3D4D5" d="M728.26,172.333c-3.278-9.669-35.82-10.842-35.82-10.842l-10.771-0.054l-10.758-0.57
        				c0,0-32.555-0.708-36.388,8.757c-3.833,9.462-5.533,78.384-1.506,84.243c2.764,4.021,17.798,9.185,34.341,11.875
        				c3.715,0.602,7.16,0.699,10.906,1.014c3.759-0.096,7.915,0.025,11.66-0.363c16.672-1.727,31.982-6.01,34.975-9.867
        				C729.256,250.905,731.539,182.003,728.26,172.333z"/>
        			<path fill="#EBEBEC" d="M725.685,171.718c-3.1-9.134-33.841-10.245-33.841-10.245l-10.175-0.051l-10.159-0.536
        				c0,0-30.757-0.67-34.379,8.271c-3.623,8.938-5.229,74.048-1.422,79.584c2.612,3.8,16.813,8.68,32.439,11.217
        				c3.515,0.572,6.766,0.665,10.309,0.96c3.548-0.09,7.476,0.022,11.012-0.342c15.752-1.631,30.212-5.68,33.039-9.323
        				C726.626,245.946,728.783,180.849,725.685,171.718z"/>
        			<path fill="#C9CACC" d="M681.702,179.509c9.178,0.064,18.403-1.621,27.096-4.551c4.921-1.657,10.785-3.554,14.536-7.43
        				c-9.985-5.283-30.895-6.037-30.895-6.037l-10.771-0.054l-10.758-0.57c0,0-19.46-0.42-30.063,3.762
        				C651.192,175.089,667.358,179.415,681.702,179.509z"/>
        			<path fill="#EBEBEC" d="M651.61,142.951c-0.202,6.939-5.99,12.401-12.936,12.201l0,0c-6.938-0.2-12.402-5.988-12.202-12.928
        				l0.257-8.818c0.2-6.941,5.988-12.406,12.931-12.204l0,0c6.939,0.2,12.407,5.991,12.202,12.928L651.61,142.951z"/>
        			<path fill="#C7C8CA" d="M650.369,142.473c-0.18,6.25-5.394,11.17-11.643,10.988l0,0c-6.25-0.18-11.171-5.393-10.991-11.643
        				l0.23-7.938c0.18-6.247,5.394-11.168,11.643-10.99l0,0c6.25,0.182,11.171,5.395,10.991,11.643L650.369,142.473z"/>
        			<g>
        				<path fill="#2A416F" d="M635.976,129.391c-0.041,1.413-1.221,2.529-2.637,2.488c-1.417-0.041-2.53-1.222-2.494-2.638
        					c0.044-1.416,1.227-2.529,2.638-2.488C634.903,126.794,636.017,127.974,635.976,129.391z"/>
        				<circle fill="#FFFFFF" cx="632.964" cy="128.383" r="0.698"/>
        				<path fill="#FFFFFF" d="M632.225,129.828c-0.005,0.177-0.151,0.314-0.328,0.311c-0.18-0.006-0.318-0.152-0.313-0.329
        					c0.005-0.177,0.153-0.315,0.333-0.311C632.092,129.503,632.23,129.65,632.225,129.828z"/>
        			</g>
        			<g>
        				<path fill="#2A416F" d="M635.19,140.162c-0.041,1.416-1.224,2.529-2.64,2.488c-1.413-0.041-2.532-1.221-2.488-2.637
        					c0.038-1.417,1.221-2.533,2.638-2.489C634.116,137.562,635.227,138.746,635.19,140.162z"/>
        				<path fill="#FFFFFF" d="M632.874,139.173c-0.013,0.385-0.331,0.688-0.716,0.678s-0.688-0.334-0.677-0.719
        					c0.01-0.382,0.333-0.688,0.718-0.675C632.584,138.468,632.887,138.789,632.874,139.173z"/>
        				<circle fill="#FFFFFF" cx="631.12" cy="140.587" r="0.321"/>
        			</g>
        			<path fill="#EBEBEC" d="M712.749,144.718c-0.203,6.939,5.259,12.728,12.201,12.93l0,0c6.942,0.2,12.73-5.265,12.931-12.204
        				l0.257-8.817c0.2-6.94-5.265-12.729-12.205-12.932l0,0c-6.942-0.199-12.729,5.263-12.93,12.205L712.749,144.718z"/>
        			<path fill="#C7C8CA" d="M714.011,144.315c-0.18,6.25,4.741,11.461,10.991,11.643l0,0c6.244,0.18,11.463-4.741,11.643-10.988
        				l0.229-7.94c0.182-6.247-4.739-11.461-10.988-11.643l0,0c-6.25-0.18-11.464,4.738-11.643,10.988L714.011,144.315z"/>
        			<g>
        				<path fill="#2A416F" d="M729.138,132.085c-0.041,1.416,1.072,2.596,2.488,2.637s2.597-1.074,2.638-2.491
        					c0.041-1.413-1.072-2.594-2.488-2.638C730.358,129.555,729.179,130.668,729.138,132.085z"/>
        				<path fill="#FFFFFF" d="M731.506,131.233c-0.013,0.385,0.29,0.706,0.675,0.716s0.705-0.293,0.718-0.678
        					c0.011-0.382-0.292-0.702-0.675-0.713C731.837,130.545,731.516,130.848,731.506,131.233z"/>
        				<path fill="#FFFFFF" d="M732.855,132.736c-0.003,0.178,0.136,0.326,0.31,0.332c0.18,0.005,0.323-0.137,0.329-0.311
        					c0.005-0.18-0.134-0.326-0.309-0.331C733.007,132.421,732.862,132.56,732.855,132.736z"/>
        			</g>
        			<g>
        				<path fill="#2A416F" d="M729.302,142.88c-0.044,1.416,1.072,2.6,2.488,2.641s2.597-1.075,2.638-2.491
        					c0.041-1.417-1.077-2.597-2.488-2.638C730.521,140.351,729.34,141.464,729.302,142.88z"/>
        				<path fill="#FFFFFF" d="M731.667,142.032c-0.01,0.382,0.293,0.706,0.678,0.716c0.385,0.013,0.703-0.293,0.718-0.678
        					c0.011-0.382-0.292-0.705-0.677-0.715C732.001,141.344,731.678,141.647,731.667,142.032z"/>
        				<path fill="#FFFFFF" d="M733.02,143.533c-0.008,0.177,0.131,0.326,0.311,0.33c0.177,0.006,0.323-0.133,0.328-0.31
        					s-0.134-0.326-0.311-0.331C733.171,143.216,733.024,143.358,733.02,143.533z"/>
        			</g>
        			<g>
        				<path fill="#EBEBEC" d="M689.565,85.419c-1.926-0.29-3.915-0.477-5.973-0.549c-2.058-0.046-4.059,0.025-5.995,0.205
        					c-25.479,2.35-40.555,23.28-41.181,44.905c-0.708,24.54,1.832,34.658,23.896,42.319c4.782,1.663,12.822,3.425,21.058,3.31
        					c8.216,0.593,15.54-0.729,20.407-2.111c22.475-6.373,25.594-16.325,26.302-40.864C728.706,111.008,714.862,89.24,689.565,85.419
        					z"/>
        				<path fill="#D9D9DB" d="M638.372,153.897c2.797,8.577,9.016,13.914,21.941,18.403c4.782,1.663,12.822,3.425,21.058,3.31
        					c8.216,0.593,15.54-0.729,20.407-2.111c14.031-3.979,20.52-9.354,23.583-18.803C698.017,144.061,666.225,144.81,638.372,153.897
        					z"/>
        				<path opacity="0.5" fill="#C9CACC" d="M643.244,117.998c1.69,0.59,2.111-1.758,2.81-3.012c1.637-2.948,3.436-5.824,5.547-8.457
        					c3.866-4.818,8.423-8.879,13.905-11.74c-0.97-1.981-2.242-3.741-3.617-5.432c-11.289,5.426-19.16,15.232-22.937,26.457
        					C640.327,116.658,641.743,117.476,643.244,117.998z"/>
        				<path opacity="0.5" fill="#C9CACC" d="M715.111,109.056c1.105,2.111,2.145,4.254,3.117,6.424
        					c0.046-0.036,0.093-0.075,0.139-0.113c1.801-1.378,3.656-2.681,5.473-4.031c-2.661-5.909-6.52-11.286-11.524-15.622
        					c-1.25,1.308-2.522,2.599-3.77,3.907C710.938,102.599,713.292,105.587,715.111,109.056z"/>
        				<path fill="#C9CACC" d="M720.62,134.915c-0.585,20.179-18.268,36.036-39.5,35.423c-21.23-0.613-37.968-17.469-37.386-37.646
        					c0.585-20.179,18.267-36.04,39.5-35.424C704.464,97.878,721.202,114.734,720.62,134.915z"/>
        				<g>

        						<radialGradient id="SVGID_1_" cx="633.1758" cy="132.7842" r="46.9372" gradientTransform="matrix(0.9996 0.0289 -0.0289 0.9996 40.2282 -17.8697)" gradientUnits="userSpaceOnUse">
        						<stop  offset="0.1486" style="stop-color:#21687E"/>
        						<stop  offset="0.491" style="stop-color:#023F5F"/>
        						<stop  offset="0.9801" style="stop-color:#000000"/>
        					</radialGradient>
        					<path fill="url(#SVGID_1_)" d="M718.359,132.639c-0.552,18.957-17.161,33.857-37.111,33.283
        						c-19.947-0.577-35.672-16.415-35.123-35.374c0.547-18.958,17.162-33.861,37.109-33.281
        						C703.179,97.845,718.906,113.679,718.359,132.639z"/>

        						<radialGradient id="SVGID_2_" cx="644.2041" cy="78.1885" r="93.7787" gradientTransform="matrix(0.9996 0.0289 -0.0289 0.9996 40.2282 -17.8697)" gradientUnits="userSpaceOnUse">
        						<stop  offset="0.2849" style="stop-color:#21687E"/>
        						<stop  offset="0.4225" style="stop-color:#0D3B59"/>
        						<stop  offset="0.5885" style="stop-color:#05294A"/>
        						<stop  offset="0.7076" style="stop-color:#031B31"/>
        						<stop  offset="0.8978" style="stop-color:#01070D"/>
        						<stop  offset="1" style="stop-color:#000000"/>
        					</radialGradient>
        					<path fill="url(#SVGID_2_)" d="M714.891,116.984c1.742,4.569,2.466,9.508,1.717,14.785
        						c-1.739,12.235-11.607,21.61-23.275,24.617c-10.64,2.742-23.85,2.178-33.345-3.872c-14.427-9.187-15.145-26.979-7.54-40.42
        						c-3.813,5.262-6.127,11.589-6.322,18.455c-0.549,18.959,15.176,34.797,35.123,35.374c19.95,0.574,36.56-14.326,37.111-33.283
        						C718.521,127.043,717.254,121.722,714.891,116.984z"/>

        						<radialGradient id="SVGID_3_" cx="603.0693" cy="104.5205" r="58.9442" gradientTransform="matrix(0.9996 0.0289 -0.0289 0.9996 40.2282 -17.8697)" gradientUnits="userSpaceOnUse">
        						<stop  offset="0.2851" style="stop-color:#FFFFFF"/>
        						<stop  offset="0.6912" style="stop-color:#6C6C6C"/>
        						<stop  offset="1" style="stop-color:#000000"/>
        					</radialGradient>
        					<path fill="url(#SVGID_3_)" d="M650.887,137.527c0.211,2.016,0.555,4.015,1.073,5.949c0.436,1.632,0.987,3.194,1.626,4.716
        						c1.534,1.416,3.158,2.758,4.875,4.041c2.75,2.057,5.613,4.043,8.672,5.607c-2.82-4.782-4.67-10.188-5.496-15.719
        						C657.988,140.718,654.327,139.348,650.887,137.527z"/>

        						<radialGradient id="SVGID_4_" cx="603.0693" cy="104.5161" r="58.9508" gradientTransform="matrix(0.9996 0.0289 -0.0289 0.9996 40.2282 -17.8697)" gradientUnits="userSpaceOnUse">
        						<stop  offset="0.2851" style="stop-color:#FFFFFF"/>
        						<stop  offset="0.6912" style="stop-color:#6C6C6C"/>
        						<stop  offset="1" style="stop-color:#000000"/>
        					</radialGradient>
        					<path fill="url(#SVGID_4_)" d="M680.702,100.151c-10.245,1.034-20.474,6.147-25.633,15.394
        						c-2.895,5.193-4.347,11.227-4.424,17.259c3.213,1.419,6.63,2.53,9.894,3.653c0.202,0.066,0.41,0.139,0.615,0.208
        						c-0.087-3.097,0.149-6.179,0.729-9.169c1.611-8.328,5.773-16.179,12.746-21.215c3.823-2.763,8.254-4.949,12.905-6.201
        						C685.256,99.92,682.967,99.923,680.702,100.151z"/>
        				</g>
        			</g>
        			<path fill="#C6C8D0" d="M706.078,189.007l-6.994-0.202l-37.057-1.073l-6.994-0.202c-6.93-0.2-8.215,5.115-9.17,9.344
        				l-0.71,24.638l-0.557,19.311l-0.023,0.714l0.142,0.005c0.713,4.136,1.944,8.954,8.491,9.141l6.991,0.203l37.063,1.072
        				l6.991,0.203c6.548,0.189,8.057-4.549,9.006-8.639l0.141,0.005l0.023-0.713l0.557-19.312l0.711-24.637
        				C713.985,194.587,713.005,189.208,706.078,189.007z"/>
        			<path fill="#EBEBEC" d="M704.877,189.977l-6.575-0.192l-34.874-1.008l-6.581-0.19c-6.519-0.188-7.729,4.813-8.625,8.793
        				l-0.67,23.183l-0.523,18.172l-0.022,0.669l0.133,0.006c0.67,3.892,1.829,8.425,7.992,8.603l6.578,0.189l34.874,1.008l6.58,0.192
        				c6.158,0.178,7.579-4.279,8.472-8.127l0.134,0.002l0.018-0.669l0.526-18.17l0.67-23.186
        				C712.317,195.229,711.399,190.165,704.877,189.977z"/>
        			<path fill="#C7C8CA" d="M705.693,229.231l-1.519-0.044l-8.072-0.233l-1.519-0.044c-1.509-0.043-1.791,1.116-2.001,2.035
        				l-0.154,5.364l-0.123,4.202l-0.002,0.157h0.03c0.156,0.9,0.424,1.949,1.85,1.99l1.524,0.047l8.066,0.233l1.523,0.043
        				c1.427,0.041,1.755-0.992,1.96-1.88h0.031l0.005-0.157l0.123-4.205l0.154-5.361C707.417,230.45,707.202,229.274,705.693,229.231z
        				"/>
        			<path fill="#EBEBEC" d="M704.924,229.877l-1.313-0.039l-6.979-0.202l-1.319-0.036c-1.303-0.038-1.547,0.962-1.724,1.758
        				l-0.134,4.641l-0.107,3.633l-0.003,0.134l0.028,0.005c0.129,0.775,0.364,1.684,1.596,1.719l1.319,0.039l6.976,0.202l1.316,0.036
        				c1.231,0.036,1.519-0.856,1.695-1.624h0.025l0.006-0.136l0.104-3.633l0.134-4.639
        				C706.411,230.926,706.227,229.916,704.924,229.877z"/>
        			<path fill="#EBEBEC" d="M703.923,230.726l-1.052-0.03l-5.557-0.162l-1.047-0.03c-1.039-0.028-1.219,0.259-1.35,0.487
        				l-0.039,1.339l-0.028,1.052v0.039l0.019,0.003c0.115,0.226,0.315,0.492,1.296,0.518l1.049,0.031l5.56,0.164l1.052,0.025
        				c0.98,0.031,1.19-0.223,1.324-0.443h0.021v-0.036l0.03-1.055l0.039-1.339C705.121,231.052,704.959,230.757,703.923,230.726z"/>
        			<path fill="#EBEBEC" d="M704.77,194.549l-2.963-0.088l-15.709-0.451l-2.961-0.087c-0.672-0.021-2.609-0.074-3.279-0.095
        				l-2.96-0.085l-15.712-0.454l-2.966-0.087c-2.936-0.085-3.459,1.364-3.844,2.517l-0.194,6.739l-0.154,5.28l-0.003,0.195
        				l0.06,0.002c0.318,1.135,0.864,2.458,3.638,2.538l2.966,0.084l15.707,0.454l2.966,0.088c0.664,0.018,2.608,0.074,3.273,0.095
        				l2.963,0.085l15.709,0.454l2.966,0.087c2.771,0.079,3.395-1.211,3.777-2.324l0.062,0.002l0.005-0.197l0.153-5.28l0.193-6.739
        				C708.146,196.112,707.705,194.633,704.77,194.549z"/>
        			<path fill="#C7C8CA" d="M689.343,228.758l-1.521-0.046l-8.066-0.233l-1.523-0.044c-1.509-0.043-1.791,1.116-1.999,2.037
        				l-0.156,5.362l-0.123,4.205v0.156h0.03c0.154,0.9,0.421,1.95,1.848,1.991l1.523,0.044l8.066,0.233l1.524,0.043
        				c1.426,0.044,1.755-0.99,1.965-1.88l0.025,0.002l0.006-0.156l0.123-4.205l0.153-5.364
        				C691.064,229.975,690.852,228.802,689.343,228.758z"/>
        			<path fill="#EBEBEC" d="M688.573,229.405l-1.316-0.038l-6.979-0.203l-1.313-0.038c-1.309-0.036-1.55,0.965-1.729,1.76
        				l-0.133,4.639l-0.105,3.636l-0.003,0.136h0.026c0.133,0.777,0.364,1.686,1.598,1.722l1.316,0.038l6.979,0.2l1.313,0.039
        				c1.236,0.035,1.519-0.857,1.698-1.627l0.026,0.003l0.005-0.137l0.103-3.635l0.134-4.639
        				C690.062,230.458,689.879,229.444,688.573,229.405z"/>
        			<path fill="#EBEBEC" d="M687.57,230.254l-1.05-0.031l-5.56-0.161l-1.047-0.031c-1.039-0.027-1.216,0.26-1.347,0.485l-0.039,1.342
        				l-0.03,1.052v0.038h0.021c0.118,0.227,0.313,0.493,1.296,0.521l1.049,0.03l5.558,0.159l1.046,0.031
        				c0.985,0.03,1.198-0.226,1.329-0.444h0.021v-0.038l0.031-1.052l0.041-1.34C688.771,230.581,688.611,230.283,687.57,230.254z"/>
        			<g>
        				<path fill="#D9D9DB" d="M686.896,219.943c-0.055,1.878-1.624,3.356-3.497,3.3l0,0c-1.878-0.054-3.356-1.619-3.305-3.497l0,0
        					c0.057-1.878,1.621-3.355,3.499-3.302l0,0C685.472,216.498,686.949,218.063,686.896,219.943L686.896,219.943z"/>
        				<path fill="#D9D9DB" d="M696.298,220.215c-0.054,1.878-1.621,3.355-3.499,3.302l0,0c-1.878-0.057-3.356-1.621-3.3-3.499l0,0
        					c0.054-1.878,1.619-3.356,3.497-3.303l0,0C694.874,216.77,696.35,218.337,696.298,220.215L696.298,220.215z"/>
        				<path fill="#D9D9DB" d="M705.703,220.487c-0.056,1.879-1.621,3.356-3.499,3.303l0,0c-1.878-0.055-3.355-1.622-3.305-3.5l0,0
        					c0.057-1.878,1.621-3.355,3.5-3.302l0,0C704.277,217.042,705.755,218.609,705.703,220.487L705.703,220.487z"/>
        			</g>

        				<rect x="653.605" y="214.252" transform="matrix(0.9996 0.0288 -0.0288 0.9996 6.863 -19.0403)" fill="#D9D9DB" width="19.569" height="28.212"/>
        			<g>
        				<g>

        						<rect x="655.404" y="216.543" transform="matrix(0.9996 0.0291 -0.0291 0.9996 6.6606 -19.0704)" fill="#EBEBEC" width="5.13" height="5.128"/>

        						<rect x="661.089" y="216.706" transform="matrix(0.9996 0.0289 -0.0289 0.9996 6.6237 -19.1145)" fill="#EBEBEC" width="5.129" height="5.129"/>
        					<polygon fill="#EBEBEC" points="671.827,222.073 666.701,221.924 666.845,216.798 671.977,216.947 					"/>

        						<rect x="655.229" y="222.564" transform="matrix(0.9996 0.0291 -0.0291 0.9996 6.8346 -19.0591)" fill="#EBEBEC" width="5.131" height="5.128"/>

        						<rect x="660.915" y="222.73" transform="matrix(0.9996 0.0286 -0.0286 0.9996 6.7063 -18.8605)" fill="#EBEBEC" width="5.128" height="5.128"/>

        						<rect x="666.597" y="222.892" transform="matrix(0.9996 0.0289 -0.0289 0.9996 6.8024 -19.264)" fill="#EBEBEC" width="5.131" height="5.129"/>
        				</g>
        				<g>

        						<rect x="655.051" y="228.693" transform="matrix(0.9996 0.0291 -0.0291 0.9996 7.0102 -19.0442)" fill="#EBEBEC" width="5.133" height="5.131"/>
        					<polygon fill="#EBEBEC" points="665.788,234.062 660.662,233.916 660.813,228.787 665.939,228.933 					"/>

        						<rect x="666.421" y="229.023" transform="matrix(0.9996 0.0286 -0.0286 0.9996 6.8884 -19.0152)" fill="#EBEBEC" width="5.128" height="5.131"/>

        						<rect x="654.876" y="234.717" transform="matrix(0.9996 0.0289 -0.0289 0.9996 7.1353 -18.9093)" fill="#EBEBEC" width="5.134" height="5.131"/>
        					<polygon fill="#EBEBEC" points="665.619,240.085 660.487,239.937 660.639,234.808 665.765,234.958 					"/>

        						<rect x="666.246" y="235.045" transform="matrix(0.9996 0.0289 -0.0289 0.9996 7.1538 -19.2487)" fill="#EBEBEC" width="5.131" height="5.131"/>
        				</g>
        			</g>

        				<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="652.2471" y1="188.6338" x2="652.2471" y2="212.7364" gradientTransform="matrix(0.9996 0.0289 -0.0289 0.9996 40.2282 -17.8697)">
        				<stop  offset="0.1486" style="stop-color:#21687E"/>
        				<stop  offset="0.491" style="stop-color:#023F5F"/>
        				<stop  offset="0.9801" style="stop-color:#000000"/>
        			</linearGradient>
        			<path fill="url(#SVGID_5_)" d="M704.246,196.615l-2.25-0.067l-11.928-0.344l-2.252-0.063c-0.506-0.016-1.976-0.057-2.486-0.072
        				l-2.25-0.066l-11.925-0.344l-2.253-0.067c-2.231-0.063-2.627,1.039-2.919,1.914l-0.149,5.116l-0.112,4.007l-0.006,0.149
        				l0.047,0.003c0.243,0.861,0.656,1.864,2.761,1.926l2.252,0.067l11.925,0.344l2.253,0.063c0.503,0.016,1.98,0.06,2.488,0.072
        				l2.248,0.064l11.93,0.346l2.247,0.067c2.109,0.059,2.576-0.921,2.868-1.766h0.047l0.005-0.148l0.115-4.01l0.146-5.116
        				C706.812,197.799,706.479,196.678,704.246,196.615z"/>
        			<path fill="#6B6C6F" d="M685.035,202.621c5.121,0.038,10.304-0.18,15.307-1.37c1.744-0.413,3.643-0.862,5.372-1.596l0.021-0.711
        				c-0.226-0.834-0.539-1.886-2.625-1.944l-33.091-0.957c-2.088-0.062-2.463,0.97-2.737,1.791l-0.025,0.918
        				C671.95,202.554,679.334,202.577,685.035,202.621z"/>
        			<g>
        				<path fill="#BEBFC1" d="M671.561,366.559c-0.454-5.277-3.147-11.045-7.841-13.826c-6.98-4.135-16.394,0.422-21.474,5.535
        					c-3.084,3.109-5.259,6.514-6.731,10.633c-0.678,1.879-1.181,3.818-1.684,5.752c-0.533,1.387-1.063,2.773-1.564,4.172
        					c-1.288,3.59-2.076,7.348-2.895,11.066c-1.321,6.016-2.37,12.439-0.918,18.527c2.652,11.115,16.691,13.904,25.532,8.652
        					c4.577-2.717,7.732-7.303,9.864-12.066c1.291-2.883,2.141-5.957,2.938-9c0.979-3.725,2.096-7.398,2.93-11.166
        					C671.021,378.932,672.079,372.615,671.561,366.559z"/>
        				<path fill="#EBEBEC" d="M659.172,376.795c5.388-3.383,9.544-8.396,11.003-14.695c0.067-0.295,0.116-0.59,0.175-0.885
        					c-1.283-3.463-3.515-6.635-6.63-8.482c-6.98-4.135-16.394,0.422-21.474,5.535c-3.084,3.109-5.259,6.514-6.731,10.633
        					c-0.334,0.928-0.627,1.869-0.896,2.818C640.086,379.682,650.358,382.332,659.172,376.795z"/>
        				<path fill="#EBEBEC" d="M645.278,388.68c-5.195-0.521-10.996-0.545-15.924,1.295c-1.312,5.994-2.348,12.385-0.9,18.443
        					c2.652,11.115,16.691,13.904,25.532,8.652c4.577-2.717,7.732-7.303,9.864-12.066c0.957-2.139,1.671-4.385,2.305-6.645
        					C660.221,393.195,653.553,389.51,645.278,388.68z"/>
        				<path fill="#D9D9DB" d="M671.561,366.559c-0.454-5.277-3.147-11.045-7.841-13.826c-1.087-0.645-2.236-1.08-3.42-1.332
        					c3.713,2.01,6.545,5.707,7.934,10.297c2.732,9.031-0.272,19.402-3.274,28.029c-3.409,9.801-9.069,19.172-19.55,22.434
        					c-4.399,1.369-10.356,1.992-14.051-1.443c-1.848-1.715-2.817-3.938-3.51-6.277c0.1,1.336,0.292,2.666,0.605,3.979
        					c2.652,11.115,16.691,13.904,25.532,8.652c4.577-2.717,7.732-7.303,9.864-12.066c1.291-2.883,2.141-5.957,2.938-9
        					c0.979-3.725,2.096-7.398,2.93-11.166C671.021,378.932,672.079,372.615,671.561,366.559z"/>
        				<path fill="#D9D9DB" d="M654.91,374.971c4.133-1.572,8.097-4.207,10.036-8.328c0.755-1.6,1.209-3.268,1.468-4.967
        					c-0.036-0.303-0.077-0.602-0.139-0.902c-6.722-33.047-10.239-33.619-4.708-45.01c5.529-11.395,14.988-28.355,12.226-32.512
        					c-8.847-13.318-32.101-21.715-32.101-21.715s-8.957-1.821-11.245,1.114c-2.289,2.936-19.273,38.561-15.879,58.342
        					c2.725,15.881,16.115,41.088,21.29,50.412C640.409,376.607,648.152,377.543,654.91,374.971z"/>
        				<path fill="#EBEBEC" d="M629.978,324.51c6.824-0.357,13.572-5.496,12.032-13.086c-2.016-9.943-16.157-16.178-25.619-12.568
        					c-1.917,7.941-2.902,15.84-1.822,22.137c0.006,0.037,0.016,0.078,0.021,0.117C619.382,323.326,624.826,324.781,629.978,324.51z"
        					/>
        				<path fill="#D9D9DB" d="M625.149,320.324c4.73-0.252,9.405-3.814,8.338-9.074c-1.396-6.895-11.196-11.217-17.759-8.715
        					c-1.329,5.506-2.012,10.982-1.262,15.35c0.004,0.025,0.01,0.053,0.015,0.08C617.802,319.504,621.575,320.51,625.149,320.324z"/>
        				<path fill="#EBEBEC" d="M641.048,292.477c8.896,2.777,18.736,7.611,24.469,15.352c5.079-10.158,10.446-21.313,8.276-24.576
        					c-8.847-13.318-32.101-21.715-32.101-21.715s-8.957-1.821-11.245,1.114c-1.334,1.713-7.669,14.547-12.043,28.871
        					C625.531,289.053,634.139,290.32,641.048,292.477z"/>
        				<path fill="#EBEBEC" d="M638.229,342.814c5.367-0.441,10.616-2.215,15.019-5.357c1.901-1.352,4.588-3.314,6.414-5.605
        					c-0.923-4.41-1.123-7.223-0.341-10.328c-7.36,3.895-16.52,5.057-24.488,5.117c-5.98,0.043-14.67-0.459-20.037-4.443
        					c0.806,4.051,2.236,8.635,4.007,13.371C623.697,340.947,630.524,343.439,638.229,342.814z"/>
        				<path fill="#FFFFFF" d="M638.79,330.049c7.225-0.75,14.832-3.252,20.43-8.051c0.036-0.16,0.063-0.314,0.101-0.475
        					c-7.36,3.895-16.52,5.057-24.488,5.117c-5.98,0.043-14.67-0.459-20.037-4.443c0.303,1.537,0.7,3.152,1.17,4.824
        					C622.479,330.74,631.868,330.766,638.79,330.049z"/>
        				<path opacity="0.5" fill="#D9D9DB" d="M661.567,315.764c5.529-11.395,14.988-28.355,12.226-32.512
        					c-8.847-13.318-32.101-21.715-32.101-21.715s-3.612-0.733-6.838-0.516c1.142,0.12,2.317,0.408,3.495,0.856
        					c4.179,1.589,7.986,4.136,11.34,7.072c2.788,2.441,6.236,5.555,7.176,9.32c1.596,6.4-3.033,13.484-5.731,19.016
        					c-3.646,7.469-7.297,15.977-7.861,24.373c-0.552,8.213,2.322,16.332,5.398,23.824c1.519,3.699,3.15,7.348,4.726,11.021
        					c1.252,2.922,2.974,5.908,3.691,9.023c1.181,5.092-1.069,8.248-4.598,10.201c0.813-0.205,1.624-0.455,2.42-0.758
        					c4.133-1.572,8.097-4.207,10.036-8.328c0.755-1.6,1.209-3.268,1.468-4.967c-0.036-0.303-0.077-0.602-0.139-0.902
        					C659.554,327.727,656.036,327.154,661.567,315.764z"/>
        				<path opacity="0.5" fill="#EBEBEC" d="M633.38,264.299c0,0-19.84,38.846-17.21,55.059c2.632,16.211,21.302,50.373,21.302,50.373
        					s-18.062-38.852-18.741-53.93c-0.683-15.078,23.397-47.086,23.397-47.086L633.38,264.299z"/>
        				<path fill="#FFFFFF" d="M656.69,385.713c-0.172-0.004-0.347-0.037-0.519-0.1c-13.951-5.025-21.438-1.213-21.515-1.176
        					c-0.815,0.432-1.826,0.121-2.258-0.697c-0.431-0.816-0.12-1.826,0.695-2.258c0.354-0.189,8.885-4.541,24.212,0.982
        					c0.867,0.314,1.321,1.273,1.005,2.143C658.061,385.305,657.394,385.734,656.69,385.713z"/>
        				<path fill="#FFFFFF" d="M655.59,393.123c-0.197-0.006-0.397-0.047-0.59-0.129c-14.345-5.936-22.493-2.029-22.575-1.988
        					c-0.826,0.414-1.829,0.078-2.242-0.752c-0.41-0.822-0.074-1.828,0.752-2.242c0.385-0.191,9.608-4.621,25.346,1.895
        					c0.852,0.352,1.257,1.33,0.905,2.184C656.911,392.75,656.265,393.141,655.59,393.123z"/>
        			</g>
        			<g>
        				<path fill="#BEBFC1" d="M681.338,385.174c0.613,3.809,1.517,7.539,2.275,11.318c0.624,3.084,1.294,6.201,2.412,9.15
        					c1.857,4.883,4.741,9.643,9.154,12.617c8.521,5.752,22.7,3.783,25.989-7.16c1.801-5.996,1.124-12.469,0.153-18.549
        					c-0.6-3.762-1.172-7.561-2.252-11.217c-0.418-1.424-0.867-2.838-1.319-4.252c-0.39-1.963-0.782-3.93-1.344-5.844
        					c-1.236-4.197-3.212-7.723-6.111-11.004c-4.772-5.4-13.911-10.492-21.12-6.766c-4.841,2.508-7.866,8.107-8.62,13.35
        					C679.684,372.836,680.376,379.205,681.338,385.174z"/>
        				<path fill="#EBEBEC" d="M692.332,377.756c-5.183-3.693-9.047-8.938-10.14-15.307c-0.052-0.301-0.077-0.598-0.123-0.896
        					c1.482-3.387,3.89-6.418,7.106-8.084c7.209-3.727,16.348,1.365,21.12,6.766c2.899,3.281,4.875,6.807,6.111,11.004
        					c0.274,0.947,0.513,1.904,0.729,2.865C711.214,381.74,700.809,383.791,692.332,377.756z"/>
        				<path fill="#EBEBEC" d="M705.509,390.422c5.218-0.221,11.011,0.094,15.824,2.213c0.965,6.059,1.632,12.498-0.164,18.465
        					c-3.289,10.943-17.469,12.912-25.989,7.16c-4.413-2.975-7.297-7.734-9.154-12.617c-0.829-2.191-1.411-4.471-1.914-6.766
        					C690.336,394.066,697.206,390.773,705.509,390.422z"/>
        				<path fill="#D9D9DB" d="M680.556,366.818c0.754-5.242,3.779-10.842,8.62-13.35c1.126-0.582,2.299-0.949,3.494-1.133
        					c-3.819,1.793-6.865,5.32-8.513,9.82c-3.253,8.859-0.852,19.389,1.647,28.172c2.838,9.98,7.943,19.666,18.221,23.527
        					c4.315,1.619,10.227,2.588,14.111-0.629c1.944-1.609,3.037-3.77,3.868-6.064c-0.18,1.328-0.446,2.645-0.836,3.938
        					c-3.289,10.943-17.469,12.912-25.989,7.16c-4.413-2.975-7.297-7.734-9.154-12.617c-1.118-2.949-1.788-6.066-2.412-9.15
        					c-0.759-3.779-1.662-7.51-2.275-11.318C680.376,379.205,679.684,372.836,680.556,366.818z"/>
        				<path fill="#D9D9DB" d="M696.693,376.178c-4.038-1.807-7.846-4.664-9.542-8.893c-0.659-1.643-1.019-3.33-1.178-5.041
        					c0.052-0.301,0.113-0.598,0.19-0.896c8.62-32.6,12.161-32.973,7.302-44.662c-4.864-11.693-13.326-29.176-10.324-33.164
        					c9.601-12.785,33.299-19.822,33.299-19.822s9.046-1.303,11.163,1.76c2.114,3.064,17.01,39.611,12.479,59.162
        					c-3.638,15.693-18.462,40.088-24.168,49.102C711.07,378.65,703.287,379.135,696.693,376.178z"/>
        				<path fill="#EBEBEC" d="M724.494,327.244c-6.789-0.752-13.229-6.273-11.253-13.758c2.586-9.813,17.063-15.221,26.303-11.07
        					c1.454,8.039,1.98,15.982,0.538,22.205c-0.01,0.039-0.021,0.08-0.028,0.115C735.141,326.674,729.625,327.811,724.494,327.244z"
        					/>
        				<path fill="#D9D9DB" d="M729.559,323.342c-4.708-0.521-9.17-4.35-7.805-9.539c1.796-6.805,11.832-10.549,18.238-7.674
        					c1.009,5.574,1.373,11.08,0.372,15.395c-0.005,0.027-0.013,0.053-0.021,0.082C736.937,322.947,733.117,323.734,729.559,323.342z
        					"/>
        				<path fill="#EBEBEC" d="M715.294,294.623c-9.041,2.26-19.143,6.514-25.313,13.91c-4.489-10.434-9.195-21.877-6.84-25.012
        					c9.601-12.785,33.299-19.822,33.299-19.822s9.046-1.303,11.163,1.76c1.231,1.789,6.813,14.965,10.35,29.52
        					C730.984,292.104,722.313,292.869,715.294,294.623z"/>
        				<path fill="#EBEBEC" d="M715.201,345.039c-5.331-0.746-10.473-2.822-14.686-6.211c-1.816-1.463-4.387-3.578-6.078-5.971
        					c1.178-4.352,1.537-7.145,0.937-10.291c7.122,4.313,16.199,6.002,24.152,6.521c5.968,0.393,14.673,0.391,20.264-3.275
        					c-1.042,3.996-2.732,8.492-4.777,13.117C729.814,344.016,722.857,346.111,715.201,345.039z"/>
        				<path fill="#FFFFFF" d="M715.378,332.262c-7.171-1.164-14.616-4.102-19.927-9.219c-0.025-0.158-0.043-0.314-0.077-0.477
        					c7.122,4.313,16.199,6.002,24.152,6.521c5.968,0.393,14.673,0.391,20.264-3.275c-0.396,1.516-0.886,3.104-1.452,4.746
        					C731.621,333.898,722.249,333.381,715.378,332.262z"/>
        				<path opacity="0.5" fill="#D9D9DB" d="M693.466,316.686c-4.864-11.693-13.326-29.176-10.324-33.164
        					c9.601-12.785,33.299-19.822,33.299-19.822s3.65-0.525,6.855-0.123c-1.147,0.057-2.338,0.275-3.535,0.654
        					c-4.265,1.344-8.213,3.668-11.73,6.404c-2.927,2.277-6.55,5.188-7.704,8.893c-1.96,6.297,2.247,13.639,4.623,19.314
        					c3.207,7.664,6.36,16.369,6.437,24.785c0.08,8.23-3.261,16.172-6.765,23.475c-1.729,3.602-3.571,7.152-5.353,10.732
        					c-1.421,2.842-3.31,5.727-4.21,8.791c-1.47,5.016,0.593,8.297,4.005,10.449c-0.8-0.25-1.596-0.549-2.37-0.896
        					c-4.038-1.807-7.846-4.664-9.542-8.893c-0.659-1.643-1.019-3.33-1.178-5.041c0.052-0.301,0.113-0.598,0.19-0.896
        					C694.784,328.748,698.325,328.375,693.466,316.686z"/>
        				<path opacity="0.5" fill="#EBEBEC" d="M724.576,266.938c0,0,17.563,39.926,14.003,55.961
        					c-3.566,16.031-24.179,49.057-24.179,49.057s20.278-37.744,21.828-52.754c1.55-15.014-20.64-48.361-20.64-48.361
        					L724.576,266.938z"/>
        				<path fill="#FFFFFF" d="M694.289,386.801c0.172,0.006,0.352-0.018,0.526-0.068c14.218-4.213,21.474,0.025,21.546,0.068
        					c0.79,0.48,1.816,0.227,2.296-0.564c0.478-0.789,0.226-1.818-0.564-2.295c-0.347-0.211-8.607-5.047-24.227-0.42
        					c-0.888,0.266-1.394,1.193-1.132,2.082C692.947,386.311,693.589,386.781,694.289,386.801z"/>
        				<path fill="#FFFFFF" d="M694.961,394.262c0.198,0.006,0.4-0.023,0.599-0.094c14.664-5.096,22.571-0.727,22.648-0.682
        					c0.801,0.461,1.821,0.184,2.283-0.617c0.457-0.803,0.183-1.826-0.621-2.283c-0.374-0.217-9.323-5.17-25.409,0.422
        					c-0.872,0.303-1.334,1.258-1.031,2.131C693.666,393.811,694.286,394.242,694.961,394.262z"/>
        			</g>
        			<path fill="#EBEBEC" d="M640.496,250.507c0,0-2.883-42.923,0.468-58.555c0,0,1.426-8.158,6.167-9.528
        				c4.741-1.367,28.149,2.483,28.149,2.483l-23.937,0.21c0,0-6.285,0.227-7.781,9.813
        				C641.941,205.348,642.823,204.578,640.496,250.507z"/>
        			<path fill="#EBEBEC" d="M716.679,252.711c0,0,5.362-42.687,2.92-58.485c0,0-0.954-8.228-5.608-9.867
        				c-4.659-1.643-28.242,0.854-28.242,0.854l23.881,1.588c0,0,6.265,0.593,7.201,10.249
        				C717.849,207.543,717.013,206.723,716.679,252.711z"/>
        		</g>
        	</g>
        	<g>
        		<g>
        			<path fill="#D9D9DB" d="M580.909,126.6c2.369,2.238,5.436,4.03,8.638,4.728c3.399,0.741,7.411,1.223,10.676-0.354
        				c1.569-0.752,2.735-2.022,3.917-3.253c1.822,11.032,3.696,24.094,3.696,24.094s-0.585,15.184-15.218,16.312
        				c0,0-10.537-0.95-12.697-10.823c-1.468-6.706-1.792-21.518-0.091-31.785C580.198,125.913,580.565,126.273,580.909,126.6z"/>
        			<path fill="#EBEBEC" d="M592.736,133.643l-0.197-1.794c-1.029-0.128-2.036-0.312-2.993-0.521
        				c-3.136-0.685-6.143-2.421-8.485-4.595c-0.136,0.794-0.271,1.665-0.393,2.586C583.407,132.548,588.619,134.102,592.736,133.643z"
        				/>
        			<path fill="#EBEBEC" d="M580.362,131.761c-0.771,6.864-1.146,15.758-0.242,21.895c1.417,9.647,8.732,11.303,8.732,11.303
        				c5.752,1.494,7.248-0.652,7.248-0.652l-3.156-28.761C588.649,135.999,583.666,134.681,580.362,131.761z"/>
        		</g>
        		<path fill="#D9D9DB" d="M608.594,102.163c-2.314-0.238-4.523,1.254-5.825,3.053c-0.493,0.684-3.768,6.047-3.456,6.48
        			c-2.112-2.946-4.352-12.857-4.534-14.182c-0.241-1.741-0.222-3.559-0.555-5.279c-0.146-1.268-0.595-2.412-1.347-3.432
        			c-2.504-1.49-4.105-1.035-4.81,1.357c-0.003,0.017-0.017,0.024-0.026,0.04c-0.229,1.102-0.347,2.291-0.399,3.443
        			c-0.109,1.098-0.1,2.259-0.012,3.436c0.012,0.465,0.023,0.894,0.032,1.261c0.002,0.16,0.013,0.33,0.019,0.494
        			c-1.221-3.623-1.625-7.479-3.179-11.02c-0.851-1.934-3.636-1.636-4.581-0.045c-1.632,2.735-1.612,5.952-1.167,9.038
        			c-0.653-1.296-1.316-2.591-1.831-3.982c-0.722-1.924-2.821-3.577-4.754-1.779c-2.177,2.022-2.437,4.741-1.514,7.592
        			c0.07,0.222,0.162,0.469,0.243,0.699c-0.69-0.639-1.488-1.013-2.412-0.852c-3.875,0.668-3.128,4.611-2.58,7.461
        			c1.316,6.867,4.35,13.13,8.96,18.388c2.476,2.814,5.051,5.729,8.326,7.624c5.712,3.3,15.313,3.454,20.295-1.323
        			c3.953-3.791,3.549-9.267,4.08-14.27c0.199-1.864,0.607-3.699,1.073-5.511c0.558-2.147,1.941-4.625,1.671-6.894
        			C610.174,102.764,609.488,102.256,608.594,102.163z"/>
        		<path opacity="0.6" fill="#D9D9DB" d="M609.573,102.541c-5.001,0.005-7.186,7.388-9.086,10.791
        			c-2.908,5.219-3.305,8.817-0.252,14.054c0.626,1.077-0.928,2.266-1.562,1.18c-1.605-2.759-3.703-6.393-2.816-9.754
        			c0.696-2.626,2.005-4.974,3.324-7.327c-2.074-3.167-4.224-12.675-4.403-13.971c-0.241-1.741-0.222-3.559-0.555-5.279
        			c-0.072-0.602-0.213-1.173-0.422-1.722c-0.028-0.042-0.065-0.068-0.088-0.116c-1.234-2.452-2.993,0.188-3.256,1.593
        			c-0.241,1.274-1.095,2.588-1.257,3.882c-0.275,2.172-0.139,7.076-0.438,6.2c-0.389-1.139-0.759-2.28-1.088-3.43
        			c0.004,0.063,0.004,0.128,0.006,0.191c-1.151-3.414-1.588-7.032-2.936-10.405c-2.55-1.834-4.713,1.277-4.792,3.503
        			c-0.066,1.928-0.019,7.188-0.527,6.21c-0.271-0.522-0.498-1.059-0.704-1.604c0.011,0.089,0.019,0.179,0.032,0.269
        			c-0.653-1.296-1.316-2.591-1.831-3.982c-0.369-0.979-1.096-1.886-1.974-2.305c-4.592,1.182-2.213,10.505-2.793,9.92
        			c-0.403-0.407-0.835-0.775-1.272-1.144c0.005,0.018,0.006,0.029,0.014,0.042c-0.69-0.639-1.488-1.013-2.412-0.852
        			c-0.35,0.061-0.65,0.153-0.927,0.266c-4.035,3.858,5.007,18.477,7.085,21.47c3.229,4.651,7.216,9.42,12.501,11.805
        			c3.606,1.629,7.083,1.997,10.646,1.677c2.171-0.587,4.156-1.59,5.696-3.067c3.953-3.791,3.549-9.267,4.08-14.27
        			c0.199-1.864,0.607-3.699,1.073-5.511c0.558-2.147,1.941-4.625,1.671-6.894C610.233,103.266,609.958,102.823,609.573,102.541z"/>
        		<path opacity="0.6" fill="#D9D9DB" d="M594.06,99.383c0.559,5.037,1.807,9.66,3.998,14.153c0.366-0.687,0.741-1.37,1.124-2.05
        			c-2.074-3.167-4.224-12.675-4.403-13.971c-0.241-1.741-0.222-3.559-0.555-5.279c-0.066-0.563-0.198-1.093-0.386-1.611
        			C594.245,93.477,593.759,96.629,594.06,99.383z"/>
        		<path opacity="0.6" fill="#EBEBEC" d="M591.35,110.699c-2.04-1.368-4.434-0.189-6.364,0.43c-1.043,0.333-2.667,1.601-3.669,2.05
        			c-2.003,0.899-3.809,2.297-4.365,4.523c-0.284,1.145,0.854,2.158,1.978,2.259c1.184,0.11,2.376,0.048,3.538-0.2
        			c2.139-0.456,3.686-1.387,5.349-2.787c1.439-1.212,3.178-2.776,3.831-4.583C591.966,111.513,591.784,110.992,591.35,110.699z"/>
        		<path opacity="0.6" fill="#D9D9DB" d="M607.893,109.231c-1.84,4.686-0.993,9.258-1.604,14.093
        			c-0.259,2.048-0.744,4.087-1.564,5.879c2.63-3.664,2.374-8.436,2.844-12.839c0.199-1.864,0.607-3.699,1.073-5.511
        			c0.558-2.147,1.941-4.625,1.671-6.894c-0.016-0.143-0.044-0.269-0.074-0.389C610.081,105.458,608.756,107.031,607.893,109.231z"/>
        		<path fill="#C9CACC" d="M592.289,108.659c-0.041,0-0.083-0.005-0.129-0.005c-1.738-2.964-3.45-6.454-4.437-9.804
        			c-0.033,0.347-0.048,0.699-0.038,1.053c0.668,3.07,2.41,6.247,4.075,8.744c-2.274,0.062-4.599,0.788-6.645,1.711
        			c-2.735-4.566-4.576-9.544-6.669-14.416c0.031,0.206,0.076,0.412,0.112,0.62c0.229,1.081,0.491,2.158,0.89,3.189
        			c0.336,0.869,0.686,1.725,1.008,2.592c1.203,2.814,2.619,5.534,4.333,8.165c-0.102,0.046-0.208,0.089-0.307,0.139
        			c-1.489,0.721-3.96,1.757-5.899,3.111c-1.676-2.708-2.873-5.652-4.053-8.611c-0.786-1.975-1.607-4.183-3.189-5.565
        			c-0.285-0.135-0.569-0.269-0.856-0.377c2.436,1.784,3.436,5.479,4.403,8.165c0.817,2.265,1.904,4.64,3.356,6.631
        			c-0.608,0.454-1.128,0.949-1.543,1.47C580.947,111.948,586.794,109.582,592.289,108.659z"/>
        	</g>
        </g>
        </svg>



      </div>
    </div>

  </section>
  <section id="spacetune">
    <h2>Create Your Space Tune!</h2>
    <div class="row">

      <div class="col-lg-4 icons-button">
        <div class="tune-icon-circle">
          <svg class="bi bi-music-note-beamed"
               width="1em"
               height="1em"
               viewBox="0 0 16 16"
               fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
          </svg>

        </div>
      </div>
      <div class="col-lg-4 icons-button">
        <a href="/spacetune"
           class="btn btn-light btn-lg btn-block"
           id="spacetune-btn">Click Here!</a>
      </div>
      <div class="col-lg-4 icons-button">
        <div class="tune-icon-circle">
          <svg class="bi bi-music-note-beamed"
               width="1em"
               height="1em"
               viewBox="0 0 16 16"
               fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
          </svg>

        </div>
      </div>

    </div>
  </section>

  <section id="planets">

    <div id="planet-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="planet-images" src="images/planet1.png" alt="ChunChunMaru">
          <div class="planet-carousel-text">
            <h2>ChunChunMaru</h2>
            <p class="planet-description"><em>This planet is named ChunChunMaru,
                   after Satao Kazuma's mighty sword from KonoSuba.
                   It got very weak gravitational field,
                   has four very weird moons.</em></p>
          </div>

        </div>
        <div class="carousel-item">
          <img class="planet-images" src="images/planet2.png" alt="Ackerman">
          <div class="planet-carousel-text">
            <h2>Ackerman</h2>
            <p class="planet-description"><em>This planet is named Ackerman,
                   after Ackerman clan from Attack On Titan.
                   It got very strong gravitational field,
                   has very high amount of Adrenaline in its atmosphere.</em></p>
          </div>

        </div>
        <div class="carousel-item">
          <img class="planet-images" src="images/planet3.png" alt="Mjlnir">
          <div class="planet-carousel-text">
            <h2>Mjlnir</h2>
            <p class="planet-description"><em>This planet is named Mjlnir,
                   after Thor's mighty hammer.
                   It got very strong gravitational field
                   (only towards the point where Thor stands, sometimes Captain America as well).
                   inhabitants of this planet are called Asgardians, has very low
                   regards for other species.</em></p>
          </div>

        </div>
        <div class="carousel-item">
          <img class="planet-images" src="images/planet4.png" alt="Yoda">
          <div class="planet-carousel-text">
            <h2>Yoda</h2>
            <p class="planet-description"><em>This planet is named Yoda,
                   after Yoda from Star Wars.
                   Its a dwarf planet and around 7000 billion years old,
                   that's why got very weak gravitational field now.
                   Its dying.</em></p>
          </div>

        </div>
        <div class="carousel-item">
          <img class="planet-images" src="images/planet5.png" alt="Poison Ivy">
          <div class="planet-carousel-text">
            <h2>Poison Ivy</h2>
            <p class="planet-description"><em>This planet is named Poison Ivy,
                   after Poison Ivy from Batman series.
                   Abundance of vegetation but all of them contain poison,
                   has 69 moons, all of them have male galactic aura(hmm..interesting).</em></p>
          </div>

        </div>
        <div class="carousel-item">
          <img class="planet-images" src="images/planet6.png" alt="Death Star">
          <div class="planet-carousel-text">
            <h2>Death Star</h2>
            <p class="planet-description"><em>This planet is named Death Star,
                   after Death Star from Star Wars.
                   It's got 'Star' in its name because its sparkly (yeah that's it).
                   Its only moon got high amount of Black carbon and carbon monoxide,
                   making it deadliest of all.</em></p>
          </div>

        </div>
        <!-- <div class="carousel-item">
          <img class="planet-images" src="images/planet7.png" alt="Gallifrey">
          <div class="planet-carousel-text">
            <h2>Gallifrey</h2>
            <p><em>This planet is named Gallifrey,
                   after Doctor Who's home planet.
                   It has reversed time cycle, inhibitants of this planet
                   age from old to young.
                   Inhibitants of this planet called Time Lords (Why? Noboby knows).</em></p>
          </div>

        </div> -->
      </div>
      <a class="carousel-control-prev" href="#planet-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#planet-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>

  <section id="spacegame">
    <div class="row">
      <div class="col-lg-6">
        <img src="images/stars.png" alt="stars" id="stars">
        <img src="images/rocket.png" alt="rocket" id="rocket">
      </div>
      <div class="col-lg-6">
        <h1>SpaThura</h1>
        <h5><em>The Space Game</em></h5>
        <hr>
        <h5>Click On Play!</h5>
        <a href="/spacegame"
           class="btn btn-light btn-lg"

           aria-pressed="true"
           id="spacegame-btn">Play!</a>
      </div>
    </div>
  </section>


  <section id="contact">
    <div class="row">
      <div class="col-lg-6">
        <p>If you wanna know about the Web Developer of VSpace,
        Click below!</p>
        <a href="/aboutme"
           class="btn btn-outline-light btn-lg"

           aria-pressed="true"
           id="aboutme-btn">About Me</a>
      </div>
      <div class="col-lg-6">
        <p>Contact</p>
        <div id="email-container">
          <p>Email &nbsp-</p>
          <a href="mailto:vidu1998rastogi@gmail.com" id="emailID">vidu1998rastogi@gmail.com</a>
        </div>
        <a href="https://www.linkedin.com/in/vidushi-rastogi-825951188?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BVD%2B9ELKFQXi3vqutcxaugg%3D%3D"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.facebook.com/vidushi.rastogi.353"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/viiichaan/"><i class="fab fa-instagram"></i></a>



      </div>
    </div>
  </section>
  <script src="js/JSjquery.min.js" charset="utf-8"></script>
  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
