<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <link rel="stylesheet" href="css/spacetune.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Font Awesome icons -->
  <script src="https://kit.fontawesome.com/ac7cbd71ce.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>SpaceTune</title>
</head>

<body>
  <div id="content">


    <div id="text-content">

      <div id="header">
        <i class="fas fa-music fa-6x"></i>
        <h1>SpaceTune</h1>
        <i class="fas fa-music fa-6x"></i>
      </div>
      <h2>Create Your Own SpaceTune</h3>
      <h3>Click on the images or Press the respective
        alphabetic keys on keyboard to create tunes (only for desktop).</h5>
    </div>
    <div class="row" id="tunes">
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="a">a</button>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="s">s</button>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="d">d</button>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="j">j</button>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="k">k</button>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6">
        <button class="tune" id="l">l</button>
      </div>

    </div>
    <section id="footer">

      <h4>Now listen to your created tune!</h4>
      <p>Refresh page to generate new tune.</p>
      <button type="button" name="button" class="btn btn-outline-light btn-lg" id="play">Play Your Tune</button>
      <a href="/"
         class="btn btn-light btn-lg"
         role="button"
         aria-pressed="true"
         id="go-back">Go Back</a>

     </section>
  </div>
  <script src="js/JSjquery.min.js" charset="utf-8"></script>
  <script src="js/spacetune.js" charset="utf-8"></script>
</body>

</html>
